# Use wildcards as well
*~
*.swp
cmake_install.cmake
Makefile

build/**/*

xcode/**/*

gtest-1.6.0

.cproject

.project

build/CMakeCache.txt

build/Hexman

build/ui_hexmanwindow.h


xcode/CMakeCache.txt

xcode/moc_hexmanwindow.cxx

xcode/ui_hexmanwindow.h

Hexman.pro.user

build/CTestTestfile.cmake

build/moc_hexmanwindow.cxx

build/tester

xcode/CTestTestfile.cmake
